
@{
    ViewBag.Title = "Login";
}

<div><h1>Ingresar</h1></div>
<div class="contenedor1">
    @using (@Html.BeginForm("Login","Home"))
    {    
        <div class="submitcentrado">
            @ViewBag.Message
        </div>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtUsuario">Usuario</label></div>
            <div><input type="text" name="txtUsuario"></input></div>
        </div>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtContrasena">Contraseña</label></div>
            <div><input type="password" name="txtContrasena"></input></div>
        </div>
        <div class="submitcentrado"><input type="submit" value="Ingresar"></div>
        <div class="submitcentrado"><a href="OlvidoContrasena.html">¿Olvidó su contraseña?</a></div>
    }
</div>

