
@{
    ViewBag.Title = "Gestión de Tipos de Prendas";
}

<div><h1>Gestión de Tipo de Prendas</h1></div>
<div class="contenedor2">
    <div>
        <form>
            <fieldset>
                <legend>Prenda</legend>
                <br>
                <div class="camposenlinea">
                    <div class="campolabel"><label for="txtTipoPrenda">Tipo de Prenda</label></div>
                    <div><input class="inputnombres" type="text" name="txtTipoPrenda"></input></div>
                    <div id="submitgestionusuario"><input type="submit" value="Agregar"></input></div>
                </div>
            </fieldset>
        </form>
    </div>
    <br>
    <div><div class="botontodos1"><input type="submit" value="Consultar todos los tipos de prendas"></input></div></div>
    <div class="listado"></div>
    <div class="tresbotonesinline1">
        <div class="espacioentrebotones"><input type="submit" value="Guardar"></input></div>
        <div class="espacioentrebotones"><input type="submit" value="Eliminar"></input></div>
        <div><input type="submit" value="Cancelar"></input></div>
    </div>
</div>