
@{
    ViewBag.Title = "Recuperar Contraseña";
}

<div><h1>Recuperar Contraseña</h1></div>
<div class="contenedor1">
    <div id="passcomentario"><p>Ingrese su número de documento y su cuenta de correo que tiene registrada en la aplicación. En breve le llegará un correo con el usuario y contraseña para ingresar a la aplicación.</p></div>
    <form>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtCedula">Cédula</label></div>
            <div><input type="text" name="txtCedula"></input></div>
        </div>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtEmail">Email</label></div>
            <div><input type="password" name="txtEmail"></input></div>
        </div>
        <div class="dosbotonesinline">
            <div class="espacioentrebotones"><input type="submit" value="Enviar"></div>
            <div><input type="submit" value="Cancelar"></div>
        </div>

    </form>
</div>