
@{
    ViewBag.Title = "Logotipos";
}

<div class="contenedor5">
    <div id="listadologotipos"></div>
    <div class="camposenlinea">
        <div><input id="submitlogotipos1" type="submit" value="Examinar en PC..."></input></div>
        <div class="tresbotonesinline5">
            <div><input id="submitlogotipos2" type="submit" value="Aceptar"></input></div>
            <div><input id="submitlogotipos2" type="submit" value="Eliminar"></input></div>
            <div><input id="submitlogotipos2" type="submit" value="Cancelar"></input></div>
        </div>
    </div>
</div>