
@{
    ViewBag.Title = "Cambiar Contraseña";
}

<div><h1>Cambio de Contraseña</h1></div>
<div class="contenedor1">
    <form>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtPasswordActual">Contraseña Actual</label></div>
            <div><input type="text" name="txtPasswordActual"></input></div>
        </div>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtPasswordNueva">Contraseña Nueva</label></div>
            <div><input type="password" name="txtPasswordNueva"></input></div>
        </div>
        <div class="camposenlinea">
            <div class="campolabel"><label for="txtPasswordConfirm">Confirmar Contraseña Nueva</label></div>
            <div><input type="password" name="txtPasswordConfirm"></input></div>
        </div>
        <div class="dosbotonesinline">
            <div class="espacioentrebotones"><input type="submit" value="Guardar"></div>
            <div><input type="submit" value="Cancelar"></div>
        </div>

    </form>
</div>